* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  color: white;
}

#buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: coral;
  height: 30px;
  padding: 5px;
  color: white;
  border: 1px solid coral;
  border-radius: 10px;
}
